*{
    color: black;
    box-sizing: border-box;

    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}   

nav{
    height: 15vh;}
header{
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 1665px) {
    header{
        display: flex;
        
    }
    #gauche{
        width: 50%;
    }
    #droite{
        width: 50%;
    }
    #droite #col_g{
        width: 345px;
    }
    #droite #col_d{
        width: 345px;
    }
}
@media screen and (max-width: 1200px) {
    #gauche{
        flex-direction: column;
        
    }
    #gauche img{
        margin-bottom: 25px;
    } 
}

@media screen and (max-width: 1000px) {
    header{
        flex-wrap: wrap;
    }
    
    #droite #col_g{
        width: 330px;
    }
    #droite #col_d{
        width: 330px;
    }

}
@media screen and (max-width: 720px) {
    #gauche{
        height: 200px;
    }
    #droite{
        flex-wrap: wrap;
    }
    #droite #col_g{
        width: 350px;
    }
    #droite #col_d{
        width: 350px;
        height: auto;
    }
    
}


h1{
    font-size: 3rem;
    font-weight:bolder;
    text-align: center;
    text-decoration: underline;
    margin-top: 1%;
}
h2{
    font-size: 1.5rem;
    font-weight:bolder;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}
.theback p{
    font-size: 1rem;
    padding: 15px;
}

.savoir_plus{
    text-align: end;
}


#gauche{
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    height: auto;
    width: 690px;
}
#pp{
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

#droite{
    height: 100% ; 
    width: 690px;
    display: flex;
    justify-content: center;
}
#droite #col_g{
    width: 345px;
    display: flex;
    flex-direction: column;
}

#droite #col_d{
    width: 345px;
    height: 80vh;
    
}

.boite_droite{
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 20px;
    height: 45%;
}
#boite1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
#boite2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

#boite3{
    height: 100%;
    
}



.thecard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background-color: white;

}
.nn{
    width: 100%;
    height: 100%;
}
.nn:hover .thecard{
transform: rotateY(180deg);
}


.thefront{
    display: flex;
    flex-direction: column;
    
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    background-image: url(arbitre.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: white;
    z-index: 0;
}

.theback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    backface-visibility: hidden;
    background-color: whitesmoke;
    color:#333;
    transform: rotateY(180deg);
    z-index: 0;
}

.theback a{
    color: black;
    text-decoration: none;
    margin: 15px;
    padding: 5px;
    border: solid 1px ;
    border-radius: 5px;
}
.theback a:hover{
    color: white;
    text-decoration: none;
    margin: 15px;
    padding: 5px;
    background-color: #100F40;
    border: solid 1px  #100F40;
    border-radius: 5px;
}